<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../../../static/img/wmsulogo.png">
    <title>Queuing-System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css"/>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- OFFLINE BOOTSTRAP -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../../static/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="../../../static/bootstrap/bootstrap-4.6.1-dist/css/bootstrap.min.css'" />
    <!-- Local CSS -->
    <link rel="stylesheet" href="../../../static/css/admin-dash.css">
    <link rel="stylesheet" href="../../../static/preloader/loader.css">
</head>
<style>
    .modal-backdrop {
        width: 100%;
    }
</style>
<body id="body-pd">
    <!--preloader-->
    <div class="loader">
        <div class="preloadermain">
            <div class="precircle"></div>
            <div class="preloader01"></div>
            <div class="preloader01"></div>
            <div class="preloader01"></div>
            <div class="preloader01"></div>
            <div class="preloader01"></div>
            <div class="preloader01"></div>
            <div class="preloader01"></div>
        </div>
    </div>

    <header class="header" id="header">
        <div class="header_toggle"> 
            <i class='bx bx-menu' id="header-toggle"></i> 
        </div>
        <div class="header_img"> 
            <a href="../teller/teller-profile.html" style="cursor: pointer; margin-top: -8px;">
                <img src="../../../static/img/avatar.png" class="img-circle" alt="User Image" width="40">
            </a>
        </div>
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div> 
                <a href="#" class="nav_logo"> 
                <i class='nav_logo-icon'><img src="../../../static/img/wmsulogo.png" width="40"></i> 
                <span class="nav_logo-name">Wmsu Booking</span>
                </a>
                <div class="nav_list"> 
                    <a href="../teller/teller-dashboard.html" class="nav_link active" title="Dashboard"> 
                        <img src="../../../static/img/dashboard.png" width="25">
                        <span class="nav_name">Dashboard</span> 
                    </a> 
                    <a href="../teller/teller-workspace.html" class="nav_link" title="Workspace"> 
                        <img src="../../../static/img/workspace.png" width="25">
                        <span class="nav_name">Workspace</span> 
                    </a> 
                    <a href="../teller/teller-waiting-room.html" class="nav_link" title="Waiting Room"> 
                        <img src="../../../static/img/pending-process.png" width="25">
                        <span class="nav_name">Waiting Room</span> 
                    </a> 
                    <a href="../teller/teller-history.html" class="nav_link" title="Transaction History"> 
                        <img src="../../../static/img/transac.png" width="30">
                        <span class="nav_name">Transaction History</span> 
                    </a> 
                </div>
            </div> 
            <a href="#" class="nav_link" data-toggle="modal" data-target="#sign_out" title="Sign-Out"> 
                <i class="fas fa-sign-out-alt"></i>
                <span class="nav_name">SignOut</span> 
            </a>
        </nav>
    </div>
    <!--Container Main start-->
    <div class="height-100">
        <div class="content-wrapper mt-5 mb-3">
            <div class="content-header">
                <div class="container-fluid">

                    <div class="row mt-5 mb-2">
                        <div class="container-fluid mt-5 mb-5">
                            <div class="row d-flex justify-content-around">
                                <div class="col-sm-3 mt-2">
                                    <div class="card" style="background-color: rgb(122, 211, 159); cursor: default;">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col mt-0">
                                                    <h5 class="card-title fw-bold">Workspace</h5>
                                                </div>

                                                <div class="col-auto">
                                                    <div class="avatar">
                                                        <div class="avatar-title rounded-circle bg-primary-dark">
                                                            <i class="align-middle"><img src="../../../static/img/workspace.png" width="45"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h1 class="display-5 mb-1">20</h1>
                                            <div class="mb-0">
                                                <span class="text-danger fw-bold"><i class="mdi mdi-arrow-bottom-right"></i> All Total </span>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                                <div class="col-sm-3 mt-2">
                                    <div class="card" style="background-color: rgb(112, 145, 206); cursor: default;">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col mt-0">
                                                    <h5 class="card-title fw-bold" id="room">Waiting Room</h5>
                                                </div>

                                                <div class="col-auto">
                                                    <div class="avatar">
                                                        <div class="avatar-title rounded-circle bg-primary-dark">
                                                            <i class="align-middle"><img src="../../../static/img/pending-process.png" width="45"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h1 class="display-5 mb-1">20</h1>
                                            <div class="mb-0">
                                                <span class="text-danger fw-bold"><i class="mdi mdi-arrow-bottom-right"></i> All Total </span>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                                <div class="col-sm-3 mt-2">
                                    <div class="card" style="background-color: rgb(247, 222, 141); cursor: default;">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col mt-0">
                                                    <h5 class="card-title fw-bold">History</h5>
                                                </div>

                                                <div class="col-auto">
                                                    <div class="avatar">
                                                        <div class="avatar-title rounded-circle bg-primary-dark">
                                                            <i class="align-middle"><img src="../../../static/img/transac.png" width="45"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h1 class="display-5 mb-1">20</h1>
                                            <div class="mb-0">
                                                <span class="text-danger fw-bold"> <i class="mdi mdi-arrow-bottom-right"></i> All Total </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        
                    </div>   
                    
                    <!-- Logut Modal -->
                    <div class="modal fade" id="sign_out" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width: 100%;">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Sign-Out</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <form action="" method="POST">
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col text-center">
                                                <h4>Are you sure want to Sign-Out?</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                        <button type="button" class="btn btn-danger">Yes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- End of Logout Modal -->
                
                </div>
            </div>
        </div>
    </div>
    <!--Container Main end-->
    <!-- Option 2: Separate Popper and Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <!-- DataTables  & Plugins -->
    <script src="../../../static/tables/datatables/jquery.dataTables.min.js"></script>
    <script src="../../../static/tables/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../../../static/tables/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="../../../static/tables/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <!-- Script -->
    <script>
      $(function () {
         $("#example1").DataTable();
      });
    </script>
    <script type="text/javascript">
        function refreshTime() {
            const timeDisplay = document.getElementById("clock");
            const dateString = new Date().toLocaleString();
            const formattedString = dateString.replace(",\n"," - ");
            timeDisplay.textContent = formattedString;
        }
        setInterval(refreshTime, 1000);
        setInterval(clock, 1000);
    </script>
    <script src="../../../static/jquery/admin-dash.js"></script>
    <script src="../../../static/preloader/loader.js"></script>
</body>
</html>