nav{
    background-color: #DA3135;
}

nav ul li a:hover{
    background-color: rgb(197, 185, 185);
    border-radius: 4px;
}

ul{
    font-size: 1.3rem;
}

@media screen and (max-width: 1080px)
{
    #imageform{
        display: none;
    }
}